pipeline/prod-pipeline-cirrotech-entitysync.json
{
	"name": "prod-pipeline-cirrotech-entitysync",
	"properties": {
		"activities": [
			{
				"name": "Clear SQL tables",
				"description": "Clear all tables before getting data",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[clear_customer_tables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy SQL data from BC SQL to temp",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Clear SQL tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "No_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "No_",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone No_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "telephone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Fax No_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "fax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "E-Mail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "email",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Currency Id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "currencyId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Our Account No_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "companyAccNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Post Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country_Region Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BCSQLTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Syrinx Auth Token",
				"description": "Acquire an auth token using encoded user name and password",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy SQL data from BC SQL to temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"url": "http://qts-syrinx-1/SyrinxWebApi/api/v1.2/Auth",
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Syrinx Auth Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Syrinx Token",
					"value": {
						"value": "@string(activity('Get Syrinx Auth Token').output.access_Token)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Customers from Syrinx API",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
							"type": "Expression"
						}
					},
					"url": "http://qts-syrinx-1/SyrinxWebApi/api/v1.2/Customers",
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Copy Syrinx resposne to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Customers from Syrinx API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', variables('Syrinx Token'))",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['results'][0]['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['address']['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['address']['postcode']"
								},
								"sink": {
									"name": "postcode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['address']['telephone']"
								},
								"sink": {
									"name": "telephone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['address']['fax']"
								},
								"sink": {
									"name": "fax",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['address']['customerId']"
								},
								"sink": {
									"name": "customerId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['results'][0]['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "RestResourceSyrinxCustomers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQL_CustomersFromSyrinx",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Temp": {
				"type": "String"
			},
			"Syrinx Token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Integrations"
		},
		"annotations": []
	}
}