pipeline/prod-pipeline-cirrotech-entitysync.json
{
	"name": "prod-pipeline-cirrotech-entitysync",
	"properties": {
		"activities": [
			{
				"name": "Clear SQL tables",
				"description": "Clear all tables before getting data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[clear_customer_tables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy SQL data from BC SQL to temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear SQL tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "No_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "No_",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Blocked",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Blocked",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BCSQLTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Syrinx Auth Token",
				"description": "Acquire an auth token using encoded user name and password",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy SQL data from BC SQL to temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Auth",
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Syrinx Auth Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Syrinx Token",
					"value": {
						"value": "@string(activity('Get Syrinx Auth Token').output.access_Token)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Customers from Syrinx API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
							"type": "Expression"
						}
					},
					"url": {
						"value": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Customers?ChangesSince=2024-08-28",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "totalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "totalItemCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalPages",
					"value": {
						"value": "@add(div(activity('Get Customers from Syrinx API').output.totalItemCount, activity('Get Customers from Syrinx API').output.pageSize), if(greater(mod(activity('Get Customers from Syrinx API').output.totalItemCount, activity('Get Customers from Syrinx API').output.pageSize), 0), 1, 0))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "totalItemCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Customers from Syrinx API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalItemCount",
					"value": {
						"value": "@activity('Get Customers from Syrinx API').output.totalItemCount\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach page number",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "loopCounter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('pageNumbers')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Syrinx resposne to SQL_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:01.000",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat('Bearer ', variables('Syrinx Token'))",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"parallelCopies": 1,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "Customer Name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accNo']"
											},
											"sink": {
												"name": "accNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address']['name']"
											},
											"sink": {
												"name": "Site Name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['prop10']"
											},
											"sink": {
												"name": "No_",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['onHold']"
											},
											"sink": {
												"name": "On Hold",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['results']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "RestResourceSyrinxCustomers",
									"type": "DatasetReference",
									"parameters": {
										"PageNo": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQL_CustomersFromSyrinx",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(mod(item(), 10), 0)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get Syrinx Auth Token Loop",
										"description": "Acquire an auth token using encoded user name and password",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "GET",
											"headers": {
												"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
												"Content-Type": "application/json",
												"Accept": "application/json"
											},
											"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Auth",
											"connectVia": {
												"referenceName": "QTSOnPrem",
												"type": "IntegrationRuntimeReference"
											}
										}
									},
									{
										"name": "Set variable loop token",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Get Syrinx Auth Token Loop",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Syrinx Token",
											"value": {
												"value": "@string(activity('Get Syrinx Auth Token Loop').output.access_Token)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Get Syrinx Auth Token_copy",
							"description": "Acquire an auth token using encoded user name and password",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy Syrinx resposne to SQL_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Auth",
								"connectVia": {
									"referenceName": "QTSOnPrem",
									"type": "IntegrationRuntimeReference"
								}
							}
						},
						{
							"name": "Token_copy",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Syrinx Auth Token_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Syrinx Token",
								"value": {
									"value": "@string(activity('Get Syrinx Auth Token').output.access_Token)\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "pageNumbers",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "totalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pageNumbers",
					"value": {
						"value": "@range(1, variables('totalPages'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loopCounter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "pageNumbers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopCounter",
					"value": 0
				}
			},
			{
				"name": "Lookup customer_from_BC",
				"description": "SELECT [No_]\n      ,[Description]\n      ,[Blocked]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE exportToSynrix = 1;",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Stored procedure SyncUpdateCustomersToSyrinx",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [No_]\n      ,[Description]\n      ,[Blocked]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE exportToSynrix = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Export Create New Item",
				"description": "Loop around items marked for export and make API call to create or update item.",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup customer_from_BC').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Update or Create Customers in Syrinx_copy1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Customers",
								"connectVia": {
									"referenceName": "QTSOnPrem",
									"type": "IntegrationRuntimeReference"
								},
								"body": [
									{
										"type": "A",
										"name": "@item().name",
										"accNo": "@item().No_",
										"taxCode": "",
										"locTaxCode": "",
										"internal": true,
										"companyType": "Individual",
										"currencyCode": "GBP",
										"address": {
											"name": "",
											"line1": "",
											"line2": "",
											"line3": "",
											"town": "",
											"county": "",
											"postcode": "",
											"telephone": "",
											"fax": null,
											"latitude": "",
											"longitude": "",
											"what3Words": "",
											"directions": null
										},
										"countryCode": "",
										"marketingCategory": "",
										"prop1": "",
										"prop6": "",
										"prop7": "",
										"prop8": "",
										"prop9": "",
										"prop10": "@item().No_",
										"currentFlag": true,
										"canUseAnyDepot": true,
										"onHold": false,
										"depot": {
											"id": 1,
											"name": "",
											"shortCode": "",
											"address": {
												"id": 2,
												"name": "",
												"line1": "",
												"line2": "",
												"line3": null,
												"town": "",
												"county": "",
												"postcode": null,
												"telephone": "",
												"fax": null,
												"latitude": null,
												"longitude": null,
												"what3Words": null,
												"prop1": null,
												"prop2": null,
												"prop3": null,
												"prop4": null,
												"prop5": null,
												"prop6": null,
												"prop7": null,
												"prop8": null,
												"prop9": null,
												"prop10": "",
												"directions": null,
												"operatorNotes": null,
												"customerId": null,
												"dateCreated": null,
												"createdByUser": null,
												"dateModified": null,
												"modifiedByUser": null
											}
										},
										"exportToAccounts": false,
										"creditLimit": 1000,
										"accountBalance": 500,
										"email": "",
										"vatNumber": "",
										"regNumber": "",
										"cisRegNumber": "",
										"webSite": "",
										"paymentTermText": {
											"id": null
										}
									}
								]
							}
						},
						{
							"name": "Stored procedure UpdateExportToSynrixComplete",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update or Create Customers in Syrinx_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateExportToSynrixComplete]",
								"storedProcedureParameters": {
									"No_": {
										"value": {
											"value": "@item().No_",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlSyncDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach Export Update Item",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup customer_from_Syrinx').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Update or Create Customers in Syrinx_copy1_copy1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Customers",
								"connectVia": {
									"referenceName": "QTSOnPrem",
									"type": "IntegrationRuntimeReference"
								},
								"body": [
									{
										"type": "A",
										"name": "@item().name",
										"accNo": "@item().No_",
										"taxCode": "",
										"locTaxCode": "",
										"internal": true,
										"companyType": "Individual",
										"currencyCode": "GBP",
										"address": {
											"name": "DEPOT",
											"line1": "",
											"line2": "",
											"line3": "UK",
											"town": "CAVERSHAM",
											"county": "BERKSHIRE",
											"postcode": "RG4 5BB",
											"telephone": "07495395817",
											"fax": null,
											"latitude": "51.4591155",
											"longitude": "-0.9674165",
											"what3Words": "fixed.almost.years",
											"directions": null
										},
										"countryCode": "",
										"marketingCategory": "",
										"prop1": "",
										"prop6": "",
										"prop7": "",
										"prop8": "",
										"prop9": "",
										"prop10": "",
										"currentFlag": true,
										"canUseAnyDepot": true,
										"onHold": false,
										"depot": {
											"id": 1,
											"name": "QTS National HQ",
											"shortCode": "001",
											"address": {
												"id": 2,
												"name": "Depot",
												"line1": "Rench Farm",
												"line2": "Drumclog",
												"line3": null,
												"town": "Strathhaven",
												"county": "South Lanarkshire",
												"postcode": null,
												"telephone": "01357 440 364",
												"fax": null,
												"latitude": null,
												"longitude": null,
												"what3Words": null,
												"prop1": null,
												"prop2": null,
												"prop3": null,
												"prop4": null,
												"prop5": null,
												"prop6": null,
												"prop7": null,
												"prop8": null,
												"prop9": null,
												"prop10": null,
												"directions": null,
												"operatorNotes": null,
												"customerId": null,
												"dateCreated": null,
												"createdByUser": null,
												"dateModified": null,
												"modifiedByUser": null
											}
										},
										"exportToAccounts": false,
										"creditLimit": 1000,
										"accountBalance": 500,
										"email": "",
										"vatNumber": "",
										"regNumber": "AB51XYZ",
										"cisRegNumber": "AB123XYZ",
										"webSite": "abc.def.co.uk",
										"paymentTermText": {
											"id": null
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Lookup customer_from_Syrinx",
				"description": "SELECT \n      [name]\n      ,[telephone]\n      ,[fax]\n      ,[email]\n      ,[dateAdded]\n      ,[modifiedDate]\n      ,[customerId]\n      ,[currencyId]\n      ,[companyAccNo]\n      ,[postcode]\n      ,[country]\n      ,[Global Dimension 1 Code]\n      ,[Our Account No_]\n      ,[Address]\n      ,[Address 2]\n      ,[City]\n      ,[County]\n      ,[Post Code]\n      ,[Phone No_]\n      ,[Fax No_]\n      ,[Salesperson Code]\n      ,[VAT Registration No_]\n      ,[E-Mail]\n      ,[Preferred Bank Account Code]\n      ,[Location Code]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE exportToSynrixUpdates= 1;",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n      [name]\n            ,[exportToSynrixUpdates]\n      ,[telephone]\n      ,[fax]\n      ,[email]\n      ,[companyAccNo]\n      ,[postcode]\n      ,[country]\n      ,[Address]\n      ,[Address 2]\n      ,[City]\n      ,[County]\n      ,[Post Code]\n      ,[Phone No_]\n      ,[Fax No_]\n      ,[No_]\n      ,[Salesperson Code]\n      ,[VAT Registration No_]\n      ,[E-Mail]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE exportToSynrixUpdates= 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure SyncNewCustomersToSyrinx",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Disable_In_Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SyncNewCustomersToSyrinx]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure SyncUpdateCustomersToSyrinx",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stored procedure SyncNewCustomersToSyrinx",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SyncUpdateCustomersToSyrinx]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Disable_In_Prod",
				"description": "Trims DB to 10 items for testing",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach page number",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "WITH BC_CTE AS (\n    SELECT \n        [No_], \n        [Description], \n        [Blocked], \n        [exportToSynrix], \n        [syncToSynrix],\n        ROW_NUMBER() OVER (ORDER BY [No_]) AS RowNum\n    FROM \n        [customer_from_BC]\n)\nDELETE FROM [customer_from_BC]\nWHERE [No_] IN (\n    SELECT [No_] \n    FROM BC_CTE \n    WHERE RowNum > 10\n);\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"Temp": {
				"type": "String"
			},
			"Syrinx Token": {
				"type": "String"
			},
			"totalPages": {
				"type": "Integer"
			},
			"currentPage": {
				"type": "Integer"
			},
			"totalItemCount": {
				"type": "Integer"
			},
			"pageNumbers": {
				"type": "Array"
			},
			"loopCounter": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Integrations"
		},
		"annotations": []
	}
}