pipeline/prod-pipeline-cirrotech-filetransfer.json
{
	"name": "prod-pipeline-cirrotech-filetransfer",
	"properties": {
		"activities": [
			{
				"name": "Copy Invoices",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "FileServerWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "QTS_SFTP_Dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "QTS_Fileshare_Dataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata from Fileshare",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "QTS_Fileshare_Dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata from SFTP",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "QTS_SFTP_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "*.*",
							"WorkingDirectory": "Invoices/Test/"
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach file in SFTP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata from SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata from SFTP').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy File from SFTP to Fileshare",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "FileServerWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "QTS_SFTP_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name\r\n",
											"type": "Expression"
										},
										"WorkingDirectory": "Invoices/Test/"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "QTS_Fileshare_Dataset",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy File from SFTP to Processed",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy File from SFTP to Fileshare",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"copyBehavior": "PreserveHierarchy",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "QTS_SFTP_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name\r\n",
											"type": "Expression"
										},
										"WorkingDirectory": "Invoices/Test/"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "QTS_SFTP_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name\n",
											"type": "Expression"
										},
										"WorkingDirectory": "Invoices/Test/"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Temp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Integrations"
		},
		"annotations": []
	}
}