pipeline/prod-pipeline-cirrotech-entitysync_copy1.json
{
	"name": "prod-pipeline-cirrotech-entitysync_copy1",
	"properties": {
		"activities": [
			{
				"name": "Clear SQL tables",
				"description": "Clear all tables before getting data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[clear_customer_tables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy SQL data from BC SQL to temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear SQL tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "No_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "No_",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Blocked",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Blocked",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BCSQLTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Syrinx Auth Token",
				"description": "Acquire an auth token using encoded user name and password",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get 20 Items",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"url": "http://qts-syrinx-1/SyrinxWebApi/api/v1.2/Auth",
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Syrinx API Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Syrinx Token",
					"value": {
						"value": "@string(activity('Get Syrinx Auth Token').output.access_Token)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Customers from Syrinx API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
							"type": "Expression"
						}
					},
					"url": {
						"value": "http://qts-syrinx-1/SyrinxWebApi/api/v1.2/Customers",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "totalPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "totalItemCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalPages",
					"value": {
						"value": "@add(div(activity('Get Customers from Syrinx API').output.totalItemCount, activity('Get Customers from Syrinx API').output.pageSize), if(greater(mod(activity('Get Customers from Syrinx API').output.totalItemCount, activity('Get Customers from Syrinx API').output.pageSize), 0), 1, 0))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "totalItemCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Customers from Syrinx API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalItemCount",
					"value": {
						"value": "@activity('Get Customers from Syrinx API').output.totalItemCount\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach page number",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "loopCounter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('pageNumbers')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Syrinx resposne to SQL_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:01.000",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat('Bearer ', variables('Syrinx Token'))",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"parallelCopies": 1,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "Customer Name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['accNo']"
											},
											"sink": {
												"name": "accNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address']['name']"
											},
											"sink": {
												"name": "Site Name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address']['line1']"
											},
											"sink": {
												"name": "line1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address']['town']"
											},
											"sink": {
												"name": "town",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['onHold']"
											},
											"sink": {
												"name": "On Hold",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['depot']['address']['line1']"
											},
											"sink": {
												"name": "depot_line1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['depot']['address']['town']"
											},
											"sink": {
												"name": "depot_town",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['results']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "RestResourceSyrinxCustomers",
									"type": "DatasetReference",
									"parameters": {
										"PageNo": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQL_CustomersFromSyrinx",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(mod(item(), 10), 0)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get Syrinx Auth Token Loop",
										"description": "Acquire an auth token using encoded user name and password",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "GET",
											"headers": {
												"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
												"Content-Type": "application/json",
												"Accept": "application/json"
											},
											"url": "http://qts-syrinx-1/SyrinxWebApi/api/v1.2/Auth",
											"connectVia": {
												"referenceName": "QTSOnPrem",
												"type": "IntegrationRuntimeReference"
											}
										}
									},
									{
										"name": "Set variable loop token",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Get Syrinx Auth Token Loop",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Syrinx Token",
											"value": {
												"value": "@string(activity('Get Syrinx Auth Token Loop').output.access_Token)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Get Syrinx Auth Token_copy",
							"description": "Acquire an auth token using encoded user name and password",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy Syrinx resposne to SQL_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": "Basic QWRtaW46cGFzc3dvcmQ=",
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Auth",
								"connectVia": {
									"referenceName": "QTSOnPrem",
									"type": "IntegrationRuntimeReference"
								}
							}
						},
						{
							"name": "Token_copy",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Syrinx Auth Token_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Syrinx Token",
								"value": {
									"value": "@string(activity('Get Syrinx Auth Token').output.access_Token)\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "pageNumbers",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "totalPages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pageNumbers",
					"value": {
						"value": "@range(1, variables('totalPages'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loopCounter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "pageNumbers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopCounter",
					"value": 0
				}
			},
			{
				"name": "Lookup customer_from_BC_Create",
				"description": "SELECT [No_]\n      ,[Description]\n      ,[Blocked]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE exportToSynrix = 1;",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure SyncUpdateCustomersToSyrinx",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [No_]\n      ,[Description]\n      ,[Blocked]\n      ,[exportToSynrix]\n,[line1]\n  FROM [dbo].[customer_from_BC]\n  WHERE exportToSynrix = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Export Create New Item",
				"description": "Loop around items marked for export and make API call to create or update item.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup customer_from_BC_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup customer_from_BC_Create').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Update or Create Customers in Syrinx_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "If Condition2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Customers",
								"connectVia": {
									"referenceName": "QTSOnPrem",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "[\n    {\n        \"type\": \"A\",\n        \"name\": \"@{item().No_}\",\n        \"accNo\": \"@{item().No_}\",\n        \"companyType\": \"Individual\",\n        \"currencyCode\": \"GBP\",\n        \"onHold\": \"@{variables('Account Blocked')}\",\n        \"address\": {\n            \"name\": \"@{item().Description}\",\n            \"line1\": \"Sample\",\n            \"town\": \"SampleTown\"\n        }\n    }\n]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Account Blocked Item Create",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(item().Blocked, 1), 'True', 'False')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable Account Blocked True",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Account Blocked",
											"value": "true"
										}
									}
								]
							}
						},
						{
							"name": "Account Blocked Item Create",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Account Blocked",
								"value": "false"
							}
						}
					]
				}
			},
			{
				"name": "Stored procedure SyncNewCustomersToSyrinx",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach page number",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SyncNewCustomersToSyrinx]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure SyncUpdateCustomersToSyrinx",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stored procedure SyncNewCustomersToSyrinx",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SyncUpdateCustomersToSyrinx]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup customer_from_BC_Update",
				"description": "SELECT [No_]\n      ,[Description]\n      ,[Blocked]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE syncToSynrix = 1;",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach Export Create New Item",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [No_]\n      ,[Description]\n      ,[Blocked]\n      ,[exportToSynrix]\n  FROM [dbo].[customer_from_BC]\n  WHERE syncToSynrix = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_CustomersFromBC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Export Update Item",
				"description": "Loop around items marked for export and make API call to create or update item.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup customer_from_BC_Update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup customer_from_BC_Update').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Update or Create Customers in Syrinx_copy1_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "If Condition2_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('Syrinx Token'))\n",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Customers",
								"connectVia": {
									"referenceName": "QTSOnPrem",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "[\n    {\n        \"type\": \"A\",\n        \"name\": \"@{item().No_}\",\n        \"accNo\": \"@{item().No_}\",\n        \"companyType\": \"Individual\",\n        \"currencyCode\": \"GBP\",\n        \"onHold\": \"@{variables('Account Blocked')}\",\n        \"address\": {\n            \"name\": \"@{item().Description}\",\n            \"line1\": \"Sample\",\n            \"town\": \"SampleTown\"\n        }\n    }\n]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition2_copy1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Account Blocked Item Update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(item().Blocked, 1), 'True', 'False')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable Account Blocked True_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Account Blocked",
											"value": "true"
										}
									}
								]
							}
						},
						{
							"name": "Account Blocked Item Update",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Account Blocked",
								"value": "false"
							}
						}
					]
				}
			},
			{
				"name": "Syrinx API Test",
				"description": "DISABLE IN PRODUCTION",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Syrinx Auth Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', 'eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiQWRtaW4iLCJleHAiOjE3Mjg0MDA1MDksImlzcyI6InBvaW50b2ZyZW50YWwuY28udWsiLCJhdWQiOiJwb2ludG9mcmVudGFsLmNvLnVrIn0.vYksXmUBrmVDoOGSlsIYiJlfdmVVoRO2m7uYKgB4CZ4')",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": "http://qts-syrinx-1/DemoSyrinxWebApi/api/v1.2/Customers",
					"connectVia": {
						"referenceName": "QTSOnPrem",
						"type": "IntegrationRuntimeReference"
					},
					"body": "[\n    {\n        \"type\": \"A\",\n        \"name\": \"Test\",\n        \"accNo\": \"Test\",\n        \"companyType\": \"Individual\",\n        \"currencyCode\": \"GBP\",\n        \"onHold\": false,\n        \"address\": {\n            \"name\": \"Test\",\n            \"line1\": \"Test\",\n\"town\": \"SampleTown\",\n        }\n    }\n]\n"
				}
			},
			{
				"name": "Get 20 Items",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy SQL data from BC SQL to temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[KeepTop20]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlSyncDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Temp": {
				"type": "String"
			},
			"Syrinx Token": {
				"type": "String"
			},
			"totalPages": {
				"type": "Integer"
			},
			"currentPage": {
				"type": "Integer"
			},
			"totalItemCount": {
				"type": "Integer"
			},
			"pageNumbers": {
				"type": "Array"
			},
			"loopCounter": {
				"type": "Integer"
			},
			"Account Blocked": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Integrations"
		},
		"annotations": []
	}
}